<nav class="navbar buttons">
  <div class="container d-block">
    <div class="row">
      <div class="col-lg-6">
        <div class="dropdown">
          <button type="button" class="btn btn-md btn-outline-nav w-100 dropdown-toggle me-2" data-bs-toggle="dropdown" aria-expanded="false">
            Sort By
          </button>
          <ul class="dropdown-menu w-100" id="sort">
            <li><button class="dropdown-item" value="type">Sort By Type</button></li>
            <li><button class="dropdown-item" value="name">Sort By Name</button></li>
            <li><button class="dropdown-item" value="age">Sort By Age</button></li>
            <li><button class="dropdown-item" value="color">Sort By Color</button></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="dropdown">
          <button type="button" class="btn btn-md btn-outline-nav w-100 dropdown-toggle me-2" data-bs-toggle="dropdown" aria-expanded="false">
            Group By
          </button>
          <ul class="dropdown-menu w-100" id="group">
            <li><button class="dropdown-item" value="color">Group By Color</button></li>
            <li><button class="dropdown-item" value="type">Group By Type</button></li>
            <li><button class="dropdown-item" value="age">Group By Age</button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>