{{>header}}
{{>nav}}
<div class="container">
  <div class="row mt-3" id="animal-cards">
    {{#animalList}}
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body tile rounded-3 text-center bg-gradient">
            <img alt="" src="{{img}}" width="72" height="72" class="rounded-circle flex-shrink-0">
            <h5 class="card-title"> {{name}} the {{type}}</h5>
            <p class="card-text">Color: {{color}}, Age: {{age}}</p>
          </div>
        </div>
      </div>
    {{/animalList}}
  </div>
</div>
{{>footer}}