<nav class="navbar">
  <div class="container">
    <a href="/" class="navbar-brand">Node.JS - Sorting, Searching and Grouping Animals</a>
    <div class="form-inputs">
      <input class="form-control" id="search" placeholder="Search Animals...">
      <span><i class="fa fa-search"></i></span>
    </div>
    <div class="dropdown">
      <button type="button" class="btn btn-sm btn-nav dropdown-toggle me-2" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="fw-bold">Sort By </span>
      </button>
      <ul class="dropdown-menu" id="sort">
        <li><button class="dropdown-item" value="type">Sort By Type</button></li>
        <li><button class="dropdown-item" value="name">Sort By Name</button></li>
        <li><button class="dropdown-item" value="age">Sort By Age</button></li>
        <li><button class="dropdown-item" value="color">Sort By Color</button></li>
      </ul>
    </div>
    <div class="dropdown">
      <button type="button" class="btn btn-sm btn-nav dropdown-toggle me-2" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="fw-bold">Group By </span>
      </button>
      <ul class="dropdown-menu" id="group">
        <li><button class="dropdown-item" value="color">Group By Color</button></li>
        <li><button class="dropdown-item" value="type">Group By Type</button></li>
        <li><button class="dropdown-item" value="age">Group By Age</button></li>
      </ul>
    </div>
  </div>
</nav>