body {
  background-color: #1b1c1e;
  color: white;
}

.navbar {
  background-color: #838485;
}

.navbar.buttons {
  background-color: #3b3c3e;
}

.form-inputs {
  position:relative;
  width: 35%;
}

.form-inputs .form-control:focus {
  box-shadow:none;
  border:1px solid #000;
}

.form-inputs i {
  color: #3b3c3e;
  position:absolute;
  right:10px;
  top:10px;
}

.btn-nav:hover {
  border: 1px solid #caccd0;
}

/*
.dropdown-toggle::after {
  display: none;
}
*/

.dropdown-menu {
  background-color: #ababac;
}

.dropdown-menu button{
  color: #284276;
}

.tile {
  background-color: #284276;
}

.dark {
  color: #caccd0
}
